*{
    font-family: century gothic;
}

.header-top img {
    height: 10px;
} 

.nav_color{
    color: black;
    text-decoration: none;
}

.btn_impost{
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 15px;
}


.my_btnjumbotron {
    background-color: #cd3d0f;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 6px 13px;
}

.jumbo-bottom img {
    border-radius: 20px;
}
.mc_main-title {
    font-size: 40px;
}
.mc_main-p {
    color: grey;
    font-weight: normal;
    font-size: 20px;
}

.mc_bgnew {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    object-fit: center;
    background-position-x: center;
    background-position-y: top;
}

.jumbo {
    margin-top: 100px;
    height: 650px;
}
.mc_bg-jumbo {
    background-image: url(../img/jumbo-bg.png);
    object-fit: contain;
    background-position-x: center;
    background-position-y: top;
}

.image{
    width: 80%;
    height: 100%;
    background-size: cover;
    background-position:center;
    border-radius:20px
}

.color_1{
    color: blue;
    font-size: 14px;
}

.color_2{
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
}

.image3{
    width: 40%;
    height: 60%;
    background-size: cover;
    background-position:center;
}

h5{
    font-size: 13px;
    margin-top: 10px;
    width: 50%;
    
}

.mc_main-title {
    font-size: 35px;
}
.mc_main-p {
    color: grey;
    font-weight: normal;
    font-size: 20px;
}
.container_bgitt2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    object-fit: center;
    background-position-x: center;
    background-position-y: top;
    position: relative;
}
.mc_bgplus {
    background-color: #bebcbb;
}

.my_btnjumbo{
    color: white;
    background-color: rgba(255, 10, 10, 0.9);
    border-radius: 20px;
}

.text_row{
    text-align: left;
}

.img_position{
    object-fit: contain;
    background-position:center;
    width: 70%;
}

.text_row2{
    text-align: left;
    font-size: 14px;
}

.container_color{
    background-color:#BEBCBB;
}

#playstnow{
    background-color:#161C3B ;
}

.footer_color{
    background-color: #00439C;
}

.color_font{
    color: white;
    font-size: 13px;
}

.list_style{
    list-style: none;
    color: white;
}

.img_size{
    width: 150px;
}

.p_font{
    color: white;
    font-size: 13px;
}